extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          h3.masthead-brand
            a(href='https://ru.hexlet.io') Hexlet
          p.head-title Добро пожаловать
            span#name
            span#btn-logout

        .inner.cover
          h1.cover-heading Собеседования программистов в прямом эфире!
          p.lead
          div.btn-group.row
            p.lead.col-md-6
              button.btn.btn-secondary.btn-lg(data-toggle='modal', data-target='.bd-example-modal-1') Хочу собеседовать
            p.lead.col-md-6
              button.btn.btn-secondary.btn-lg(data-toggle='modal', data-target='.bd-example-modal-2') Хочу собеседоваться
          .modal.fade.bd-example-modal-1(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
            .modal-dialog.modal-md
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myLargeModalLabel.modal-title
                .modal-body
                  .container
                    .row
                      .col-xs-12
                        form#new_user.simple_form.new_user(action=url('add-interviewer'), accept-charset='UTF-8', method='post')
                          //- input(name='utf8', type='hidden', value='✓')
                          //- input(type='hidden', name='authenticity_token')
                          .form-group.string.required.user_first_name
                            input#user_first_name.string.required.form-control(autofocus='autofocus', placeholder='Город', type='text', name='city' required)
                          .form-group.string.required.user_last_name
                            input#user_last_name.string.required.form-control(placeholder='Должность', type='text', name='position' required)
                          .form-group.email.optional.user_email
                            input#user_email.string.email.optional.form-control(placeholder='Место работы', type='text', name='company' required)
                          .form-group.email.optional.user_email
                            input#user_email.string.email.optional.form-control(placeholder='Языки', type='text', name='langs' required)
                          hr
                          input.btn.btn-default.btn-success.btn-lg.btn-block(type='submit', value='Отправить')
          .modal.fade.bd-example-modal-2(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
            .modal-dialog.modal-md
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myLargeModalLabel.modal-title
                .modal-body
                  .container
                    .row
                      .col-xs-12
                        form#new_user.simple_form.new_user(action=url('add-applicant'), accept-charset='UTF-8', method='post')
                          .form-group.string.required.user_first_name
                            input#user_first_name.string.required.form-control(autofocus='autofocus', placeholder='Город', type='text', name='city' required)
                          .form-group.string.required.user_last_name
                            input#user_last_name.string.required.form-control(placeholder='Языки', type='text', name='langs' required)
                          hr
                          input.btn.btn-default.btn-success.btn-lg.btn-block(type='submit', value='Отправить')

        .mastfoot
