doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    script(src='//cdn.auth0.com/js/lock-8.2.min.js')
    script(src='/assets/index.js')
    link(href='/assets/styles.css', rel='stylesheet')
    block head

  body
    block content
